<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hangman Admin</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">
    <script src="/bower_components/platform/platform.js"></script>
    <link rel="import" href="/elements/signed-out-menu.html">
    <link rel="import" href="/elements/sign-in-panel.html">
    <link rel="import" href="/elements/reset-password-panel.html">
</head>
<body unresolved>
    <signed-out-menu></signed-out-menu>
    <div class="container">
        {{yield}}
    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
