<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hangman Admin</title>
    <script src="/bower_components/platform/platform.js"></script>
    <link rel="import" href="/bower_components/app-router/app-router.html">
</head>
<body unresolved>
    <app-router>
      <app-route path="/" import="/pages/sign-in-page.html" template></app-route>
      <app-route path="/sign-in" import="/pages/sign-in-page.html" template></app-route>
      <!--
      <app-route path="/reset-password" import="/pages/reset-password.html"></app-route>
      <app-route path="*" import="/pages/sign-in.html"></app-route>
      -->
    </app-router>
</body>
</html>
