<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="fragment" content="!">
    <title>Hangman Admin</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">
    <script src="/bower_components/platform/platform.js"></script>
    <link rel="import" href="/bower_components/app-router/app-router.html">
    <link rel="import" href="/bower_components/pushstate-anchor/pushstate-anchor.html">
</head>
<body unresolved>
    <app-router mode="pushstate">
      <app-route path="/admin/dashboard" import="/pages/dashboard-page.html"></app-route>
      <app-route path="/admin/games" import="/pages/games-page.html"></app-route>
      <app-route path="*" redirect="/admin/dashboard"></app-route>
    </app-router>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
